:root {
  --Purple-900: #400799;
  --Purple-800: #5509cc;
  --Purple-700: #6a0bff;
  --Purple-600: #883cff;
  --Purple-500: #a66dff;
  --Purple-400: #c39dff;
  --Purple-300: #d2b6ff;
  --Purple-200: #e1ceff;
  --Purple-100: #f0e7ff;

  --Red-900: #880727;
  --Red-800: #af0932;
  --Red-700: #d50b3e;
  --Red-600: #f3164e;
  --Red-500: #f53d6b;
  --Red-400: #f76489;
  --Red-300: #f98ba6;
  --Red-200: #fbb1c4;
  --Red-100: #fdd8e1;

  --Yellow-900: #faaf00;
  --Yellow-800: #ffc233;
  --Yellow-700: #ffce5c;
  --Yellow-600: #ffda85;

  --Green-900: #17663a;
  --Green-800: #1e874c;
  --Green-700: #26a95f;
  --Green-600: #2dca72;

  --Black-900: #191919;
  --Black-800: #303030;
  --Black-700: #474747;
  --Black-600: #5e5e5e;
  --Black-500: #757575;
  --Black-400: #8c8c8c;
  --Black-300: #a3a3a3;
  --Black-200: #bababa;
  --Black-100: #d1d1d1;
  --Black-50: #e8e8e8;
  --Black-25: #f4f4f4;
  --Black-10: #f8f8f8;

  --White-900: #fff;
}
