.Text {
  font-size: 12px;
}

.Body1 {
  font-size: 12px;
  line-height: 120%;
}

.Body2 {
  font-size: 14px;
  line-height: 120%;
}

.Body3 {
  font-size: 16px;
  line-height: 120%;
}

.Body5 {
  font-size: 20px;
  line-height: 120%;
}

.Body6 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.Regular {
  font-weight: 400;
}

.Medium {
  font-weight: 500;
}

.SemiBold {
  font-weight: 600;
}

.Bold {
  font-weight: 700;
}
